USE [master]
GO
/****** Object:  Database [MyStoreWeb]    Script Date: 7/04/2021 10:33:32 p. m. ******/
CREATE DATABASE [MyStoreWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyStoreWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyStoreWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyStoreWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyStoreWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyStoreWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyStoreWeb]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 7/04/2021 10:33:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nick] [varchar](100) NOT NULL,
	[clave] [int] NOT NULL,
	[nombres] [varchar](80) NOT NULL,
	[apellidos] [varchar](80) NOT NULL,
	[correo] [varchar](59) NOT NULL,
	[fecha_ingreso] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[landing_page]    Script Date: 7/04/2021 10:33:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[landing_page](
	[id_vendedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tienda] [varchar](100) NULL,
	[categoria_tienda] [varchar](100) NOT NULL,
	[nombres_vendedor] [varchar](100) NOT NULL,
	[apellidos_vendedor] [varchar](100) NULL,
	[correo_vendedor] [varchar](100) NOT NULL,
	[celular_vendedor] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
