@model Landing_page.Models.Vendedor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<div class="create-item">
    <p>
        @Html.ActionLink("Listado", "Listado")
    </p>
</div>
<div class="container">
    <div class="intro-product">
        <div class="title-intro">
            <h1>My Store Web, la plataforma online perfecta para promocionar sus productos</h1>
        </div>

        <div class="buttons-intro">
            <div class="create_button">
                <p>
                    @Html.ActionLink("Registarse", "Create")
                </p>
            </div>

            @*
            <div class="create_button">
                <p>
                    @Html.ActionLink("Registarse", "Create")
                </p>
            </div>
            *@
        </div>
        
    </div>
</div>